---
layout: base
---
<header class="all-outer">
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <div class="home-intro">
      {{ content }}
    </div>
    <div class="profile-pic">
      <img src="./assets/prof_pic.jpg">
    </div>
  </div>

  <div class="pubs-table">
    <h1 class="post-title" text-align="left">SELECTED PUBLICATIONS</h1>
    <h4>()<sup>&#9812;</sup>: co-first authors</h4>
    <h4>Click title for arXiv link, authors for BibTeX</h4>
    <table>
      <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Venue</th>
      </tr>

      <tr>
        <td><a href="https://arxiv.org/abs/2503.06343">Studying the Interplay Between the Actor and Critic Representations in Reinforcement Learning</a></td>
        <td>(Samuel Garcin & <u>Trevor McInroe</u>)<sup>&#9812;</sup>, Pablo Samuel Castro, Christopher G. Lucas, David Abel, Prakash Panangaden, Stefano V Albrecht
</td>
        <td>ICLR</td>

      </tr>

      <tr>
        <td><a href="https://arxiv.org/abs/2310.05723">Planning to Go Out-of-Distribution in Offline-to-Online Reinforcement Learning</a></td>
        <td><u>Trevor McInroe</u>, Adam Jelley, Stefano V. Albrecht, Amos Storkey</td>
        <td>RLC</td>
      </tr>

      <tr>
        <td><a href="https://arxiv.org/abs/2305.14133">Conditional Mutual Information for Disentangled Representations in Reinforcement Learning</a></td>
        <td>Mhairi Dunion, <u>Trevor McInroe</u>, Kevin Luck, Josiah Hanna, Stefano V. Albrecht</td>
        <td>NeurIPS (Spotlight)</td>
      </tr>

      <tr>
        <td><a href="https://arxiv.org/abs/2207.05480">Temporal Disentanglement of Representations for Improved Generalisation in Reinforcement Learning</a></td>
        <td>Mhairi Dunion, <u>Trevor McInroe</u>, Kevin Sebastian Luck, Josiah P. Hanna, Stefano V. Albrecht</td>
        <td>ICLR</td>
      </tr>

      <tr>
        <td><a href="https://arxiv.org/abs/2404.14285">LLM-Personalize: Aligning LLM Planners with Human Preferences via Reinforced Self-Training for Housekeeping Robots</a></td>
        <td>Dongge Han, <u>Trevor McInroe</u>, Adam Jelley, Stefano V. Albrecht, Peter Bell, Amos Storkey</td>
        <td>COLING</td>
      </tr>

      <tr>
        <td><a href="https://arxiv.org/abs/2406.13376">Efficient Offline Reinforcement Learning: The Critic is Critical</a></td>
        <td>Adam Jelley, <u>Trevor McInroe</u>, Sam Devlin, Amos Storkey</td>
        <td>ICML (Workshop)</td>
      </tr>
    </table>
  </div>

  <!--<div class="social-icons">
    <h1 class="post-title">Publications</h1>
  </div>-->

</article>
</header>
